{
  "db1": {
    "Hostname": "localhost",
    "Port": "3306",
    "Username": "root",
    "Password": "password",
    "ExcludedDatabases": []
  },
  "db2": {
    "Hostname": "localhost",
    "Port": "3306",
    "Username": "root",
    "Password": "password",
    "ExcludedDatabases": []
  }
}
